.margen{
    margin-top: 125px;
}
.title{
    font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 65px;
text-align: center;

color: #B31D1D;
}



.subtitle_area{
    display: flex;
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: center;
    float: initial;
}

.subtitle{

font-weight: 800;
font-size: 48px;
line-height: 65px;
text-align: center;
color: #000000;
}

.container{

display: flex; 
background: #FFFFFF;
border: 5px solid #DCDCDC ;
border-radius: 10px;
flex-direction: column;
width: 90%;
text-align: center;
margin-bottom: 40px;  
line-height: 80px;
padding: 30px;



}

.centrar{
    display: flex;
    justify-content: center;
}

.contenedor_btns{
    
}

.b{
    margin:20px;
}

.label{
font-weight: 800;
font-size: 36px;
line-height: 49px;
text-align: center;
}

.lab{
 float: left;
 display: flex;
 padding-left: 100px;
 width: 50%;
 font-size: 36px;

}



.descrip{
    text-align: start;
}


%input{
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    height: 41px;
    width: 100%;
    }

.input_generico{
    @extend %input;
}

.input_descripcion{
    @extend %input;
    width: 100%;
    height: 285px;
    line-height: 30px;
}

.agregar_button{
    position: absolute;
width: 315px;
height: 48px;
left: 544px;
top: 305px;

background: rgba(0, 87, 255, 0.78);
border: 2px solid #000000;
box-sizing: border-box;
box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}

.container{
    background: #FFFFFF;
    box-shadow: 4px 4px 14px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.text_data{
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;    
    color: #000000;
}

.text_title{
    width: 100%;
    height: 0px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 50px;
    text-align: center;
    margin-top: 20px;
    color: #B31D1D;
}

.text_data{    
    font-weight: 400;
       
}

@media (max-width: 660px)
{
    .text_data{        
        font-size: 18px;       
    }

    .text_title{        
        font-size: 32px;       
    }
}

.editarB{
    float: right;
    position: absolute;
    right: 10px;
    border: none;
    background-color: white;
    float: inline-end;
    bottom: 10px;

}

.contenedor{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.editarI{
    @extend %input;
    border: show !important;
    max-width: 100%;
    
}

%input{
    align-items: center;
    padding: 0px;
    margin-left: 10px;
    background-color: white;
    
    
}

.mostrar{
    @extend %input;
    max-width: 100%;
    top: initial;
    border: hidden !important;
    color: black;
    
}
.ocultarB{
    visibility: hidden;
    margin: 10px;
}
.mostrarB{
    visibility: visible;
    margin: 10px;
}
.contenedor_btns{
    padding-top: 20px;
    text-align: center;   
}
.label2{
    width: 25%;
    display: inline-table;
}
.inputObser{
    border: hidden !important;
    border-radius: 8px;
    padding: 2px;
    width: 45%;
    text-transform:uppercase;
}
